@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
}
body {
  background-image: url("/img/1210564.png");
}

/*HEADER DESIGN*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  height: 100px;
  color: rgb(45, 116, 120);
  font-size: 30px;
}
header h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*CONTENT DESIGN*/
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column{
  display: flex;
  flex-direction: column;
}

#movie{
width:700px ;
height: 500px;
  margin-top: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.btn-container button {
  height: 50px;
  width: 350px;
  background-color: rgb(215, 143, 35);
  color: rgb(45, 116, 120);
  font-size: 30px;
  border-radius: 30px;
  border: 3px solid rgb(45, 116, 120);
}

button:hover {
  cursor: pointer;
  background-color: rgb(223, 183, 49);
}

img {
  margin-bottom: 75px;
}

.right-boot {
  transform: rotate(-18deg);
  margin-right: 2rem;
}

.left-boot {
  transform: rotate(18deg);
  margin-left: 2rem;
}

/*MEDIA QUERIES*/

@media(max-width:1240px){
  .center-column{
    width:100%
  }
  #movie{
      width: 100%;
      height: auto;
    }
  img{
    width: 20%;

  }
}

@media(max-width:870px){
  header{
    margin-bottom: 2rem;
    text-align: center;
    line-height: 3.5rem;
  }
}

@media(max-width:600px){
  img{
    display: none;
  }
}